<!DOCTYPE html>
<html>
<head>
    <title>ADD user</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>ADD user</h1>
     <form method="POST">
        <label>UserName</label><br>
        <input name="username" class="field"/><br><br>
        <label>Email</label><br>
        <input name="email" class="field" /><br><br>
        <label>Password</label><br>
        <input name="password" class="field" /><br><br>
        <input type="submit" value="SEND" />
     </form>
     <a href="/">BACK to user list</a>
</body>
<html>